.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    & > li {
      margin: 0.4rem 0;

      .section {
        .desc {
          margin: 0;
          padding: 0;

          > h3 {
            margin: 0;
            padding: 0;
            font-size: 0.9rem;
            line-height: 1.1; // 제목 줄간격도 축소

            > a {
              background-color: transparent;
            }
          }
        }

        .meta {
          margin: 0;
          padding: 0;
          font-size: 0.7rem; // 더 작게
          line-height: 1; // 줄간격 최소
          opacity: 0.6;
        }
      }
    }
  }
}